<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Pessoas</title>
</h:head>
<h:body>
	<p:growl id="mensagem" />

	<h:form id="formListagem">
		<p:panel header="Pessoas - Listagem">
			<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado."
				paginator="true" value="#{pessoaBean.pessoas}" var="pessoa" rows="5">
				<f:facet name="header">
					<p:commandButton value="Novo" actionListener="#{pessoaBean.novo}"
						oncomplete="PF('dialogo').show();"
						update=":mensagem :formCadastro:painel">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:column headerText="Nome">
					<h:outputText value="#{pessoa.nome}" />
				</p:column>
				<p:column headerText="CPF">
					<h:outputText value="#{pessoa.cpf}" />
				</p:column>
				<p:column headerText="RG">
					<h:outputText value="#{pessoa.rg}" />
				</p:column>
				<p:column headerText="Logradouro">
					<h:outputText value="#{pessoa.logradouro}" />
				</p:column>
				<p:column headerText="Numero">
					<h:outputText value="#{pessoa.numero}" />
				</p:column>
				<p:column headerText="Bairro">
					<h:outputText value="#{pessoa.bairro}" />
				</p:column>
				<p:column headerText="Cidade">
					<h:outputText value="#{pessoa.cidade.nome}" />
				</p:column>
				<p:column headerText="Estado">
					<h:outputText value="#{pessoa.cidade.estado.nome}" />
				</p:column>

				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-trash"
						actionListener="#{pessoaBean.excluir}"
						update=":mensagem :formListagem:tabela">
						<p:confirm header="Confirmação" message="Deseja excluir a pessoa?"
							icon="ui-icon-alert" />
						<f:attribute name="pessoaselecionada" value="#{pessoa}" />
					</p:commandButton>

					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{pessoaBean.editar}"
						update=":mensagem :formCadastro:painel"
						oncomplete="PF('dialogo').show();">
						<f:attribute name="pessoaselecionada" value="#{pessoa}" />
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:confirmDialog global="true">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>

	<p:dialog header="Pessoas - Cadastro" widgetVar="dialogo"
		draggable="false" resizable="false" modal="true" closable="false">
		<h:form id="formCadastro">
			<h:panelGrid id="painel" columns="2">
				<p:outputLabel for="nome" value="Nome:" />
				<p:inputText id="nome" maxlength="50" size="30"
					value="#{pessoaBean.pessoa.nome}" required="true"
					requiredMessage="O campo 'Nome' é obrigatório" />

				<p:outputLabel for="cpf" value="CPF:" />
				<p:inputMask id="cpf" mask="999.999.999-99" size="12"
					value="#{pessoaBean.pessoa.cpf}" required="true"
					requiredMessage="O campo 'CPF' é obrigatório" />

				<p:outputLabel for="rg" value="RG:" />
				<p:inputMask id="rg" size="10" maxlength="9"
					value="#{pessoaBean.pessoa.rg}" required="true"
					requiredMessage="O campo 'RG' é obrigatório" />

				<p:outputLabel for="logradouro" value="Logradouro:" />
				<p:inputMask id="logradouro" size="30" maxlength="30"
					value="#{pessoaBean.pessoa.logradouro}" required="true"
					requiredMessage="O campo 'logradouro' é obrigatório" />
					
					<p:outputLabel value="Número" />
				<p:inputText maxlength="5" size="10"
					value="#{pessoaBean.pessoa.numero}" required="true"
					requiredMessage="O campo 'Número' é obrigatório"
					converterMessage="Informe um valor válido para o campo 'Número'"
					validatorMessage="Informe um valor entre 1 e 32767 para o campo 'Número'">
					<f:validateLongRange minimum="1" maximum="32767" />
				</p:inputText>
				
				<p:outputLabel for="bairro" value="Bairro:" />
				<p:inputText id="bairro" maxlength="30" size="30"
					value="#{pessoaBean.pessoa.bairro}" required="true"
					requiredMessage="O campo 'Bairro' é obrigatório" />
				
				<p:outputLabel for="estado" value="Estado:" />
				<p:selectOneMenu id="estado" filter="true"
					converter="omnifaces.SelectItemsConverter"
					value="#{pessoaBean.estado}">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione um estado" />
					<f:selectItems value="#{pessoaBean.estados}" var="estado"
						itemValue="#{estado}" itemLabel="#{estado.nome}" />
					<p:ajax listener="#{pessoaBean.popular}"
						update=":formCadastro:cidade" />
				</p:selectOneMenu>

				<p:outputLabel for="cidade" value="Cidade:" />
				<p:selectOneMenu id="cidade" filter="true" required="true"
					requiredMessage="O campo 'Cidade' é obrigatório"
					converter="omnifaces.SelectItemsConverter"
					value="#{pessoaBean.pessoa.cidade}">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione uma cidade" />
					<f:selectItems value="#{pessoaBean.cidades}" var="cidade"
						itemValue="#{cidade}" itemLabel="#{cidade.nome}" />
				</p:selectOneMenu>
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar"
					actionListener="#{pessoaBean.salvar}"
					update=":mensagem :formCadastro:painel :formListagem:tabela" />
				<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>