<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Propriedade</title>
</h:head>
<h:body>
	<p:growl id="mensagem" />

	<h:form id="formListagem">
		<p:panel header="Pessoas - Listagem">
			<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado."
				paginator="true" value="#{propriedadeBean.propriedades}" var="propriedade" rows="5">
				<f:facet name="header">
					<p:commandButton value="Novo" actionListener="#{propriedadeBean.novo}"
						oncomplete="PF('dialogo').show();"
						update=":mensagem :formCadastro:painel">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:column headerText="local">
					<h:outputText value="#{propriedade.local}" />
				</p:column>
				<p:column headerText="Tamanho">
					<h:outputText value="#{propriedade.tamanho}" />
				</p:column>
				<p:column headerText="Cidade">
					<h:outputText value="#{propriedade.cidade.nome}" />
				</p:column>
				<p:column headerText="Estado">
					<h:outputText value="#{propriedade.estado.nome}" />
				</p:column>
				<p:column headerText="Proprietario">
					<h:outputText value="#{propriedade.agricultor.pessoa.nome}" />
				</p:column>
				<p:column headerText="Agronomo">
					<h:outputText value="#{propriedade.agronomo.pessoa.nome}" />
				</p:column>

				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-trash"
						actionListener="#{propriedadeBean.excluir}"
						update=":mensagem :formListagem:tabela">
						<p:confirm header="Confirmação" message="Deseja excluir a pessoa?"
							icon="ui-icon-alert" />
						<f:attribute name="propriedadeselecionada" value="#{propriedade}" />
					</p:commandButton>

					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{propriedadeBean.editar}"
						update=":mensagem :formCadastro:painel"
						oncomplete="PF('dialogo').show();">
						<f:attribute name="propriedadeselecionada" value="#{propriedade}" />
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:confirmDialog global="true">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>

	<p:dialog header="Propriedade - Cadastro" widgetVar="dialogo"
		draggable="false" resizable="false" modal="true" closable="false">
		<h:form id="formCadastro">
			<h:panelGrid id="painel" columns="2">
				<p:outputLabel for="local" value="lOCAL:" />
				<p:inputText id="local" maxlength="50" size="30"
					value="#{propriedadeBean.propriedade.local}" required="true"
					requiredMessage="O campo 'Local' é obrigatório" />

				<p:outputLabel for="tamanho" value="Tamanho:" />
				<p:inputText id="tamanho" maxlength="50" size="30"
					value="#{propriedadeBean.propriedade.tamanho}" required="true"
					requiredMessage="O campo 'tamanho' é obrigatório" />

				
				<p:outputLabel for="agricultor" value="Agricultor:" />
				<p:selectOneMenu id="agronomo" filter="true"
					value="#{propriedadeBean.propriedade.agronomo}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem noSelectionOption="true" itemLabel="Selecione um Agronomo"/>
					<f:selectItems value="#{propriedadeBean.agronomos}" 
									var="agronomo"
									itemValue="#{agronomo}" 
									itemLabel="#{agronomo.pessoa.nome}"/>
					
				</p:selectOneMenu>
				
				<p:outputLabel for="agricultor" value="Agricultor:" />
				<p:selectOneMenu id="agricultor" filter="true"
					value="#{propriedadeBean.propriedade.agricultor}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem noSelectionOption="true" itemLabel="Selecione um agricultor"/>
					<f:selectItems value="#{propriedadeBean.agricultores}" 
									var="agricultor"
									itemValue="#{agricultor}" 
									itemLabel="#{propriedade.agronomo.pessoa.nome}"/>
					
				</p:selectOneMenu>
				
				
				<p:outputLabel for="estado" value="Estado:" />
				<p:selectOneMenu id="estado" filter="true"
					converter="omnifaces.SelectItemsConverter"
					value="#{propriedadeBean.estado}">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione um estado" />
					<f:selectItems value="#{propriedadeBean.estados}" var="estado"
						itemValue="#{estado}" itemLabel="#{estado.nome}" />
					<p:ajax listener="#{propriedadeBean.popular}"
						update=":formCadastro:cidade" />
				</p:selectOneMenu>

				<p:outputLabel for="cidade" value="Cidade:" />
				<p:selectOneMenu id="cidade" filter="true" required="true"
					requiredMessage="O campo 'Cidade' é obrigatório"
					converter="omnifaces.SelectItemsConverter"
					value="#{propriedadeBean.cidades}">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione uma cidade" />
					<f:selectItems value="#{propriedadeBean.cidades}" var="cidade"
						itemValue="#{cidade}" itemLabel="#{cidade.nome}" />
				</p:selectOneMenu>
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar"
					actionListener="#{propriedadeBean.salvar}"
					update=":mensagem :formCadastro:painel :formListagem:tabela" />
				<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>